#login-signup-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms__container {
  position: relative;
  max-width: 43rem;
  width: 100%;
  background: var(--bg-primary);
  box-shadow: 0 5px 10px rgba(79, 78, 78, 0.5);
  overflow: hidden;
}

.forms__container .forms {
  display: flex;
  align-items: center;
  width: 200%;
  height: 440px;
  transition: height 0.2s ease;
}

.forms__container .form {
  width: 50%;
  padding: 3rem;
  background-color: var(--bg-primary);
  transition: margin-left 0.18s ease;
}

.forms__container.active .login {
  margin-left: -50%;
  visibility: hidden;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.16s ease,
    visibility 0s linear 300ms;
}

.forms__container .sign-up {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.09s ease, visibility 0s linear 300ms;
}

.forms__container.active .sign-up {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0s linear 0s;
  min-height: 100%;
}

.forms__container.active .forms {
  height: 600px;
}

.forms__container .form .form__title {
  position: relative;
}

.form .form__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 3rem;
  background: var(--primary-color);
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 5rem;
  width: 100%;
  margin-top: 3rem;
}

.input-field .form__email-input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 3.5rem;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: 1.6rem;
  background: var(--bg-primary);
  border-bottom: 1px solid rgba(79, 78, 78, 0.5);
  transition: all 0.2s ease;
  color: var(--text-secondary);
}

.input-field .form__email-input::placeholder {
  color: var(--text-primary);
}

.input-field .form__email-input:is(:focus, :valid) {
  border-bottom-color: var(--grey-color);
}

.input-field .form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
  font-size: 2.3rem;
  transition: all 0.2s ease;
}

.input-field .form__email-input:is(:focus, :valid) ~ .form-icon {
  color: var(--grey-color);
}

.input-field .form-icon.left-icon {
  left: 0;
}

.input-field .form-icon.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 1rem;
}

.form .checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.form .forget-password:hover {
  text-decoration: underline;
}

.button-container {
  margin-top: 3.5rem;
}

.form .login-signup {
  margin-top: 3.5rem;
}

.form-change-link {
  cursor: pointer;
}

.form-change-link:hover {
  text-decoration: underline;
}

.final-cta {
  border: none;
}

.btn.outline-danger.final-cta__2 {
  border: 1px solid var(--grey-color);
}
