@import url('https://cerebrumui.netlify.app/style.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import './Styles/navbar.css';
@import './Styles/sidebar.css';
@import './Styles/searchBar.css';
@import './Styles/ListingVideoComponent.css';
@import './Styles/home.css';
@import './Styles/singleVideoPage.css';
@import './Styles/auth.css';
:root {
  font-family: 'Lato', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.video-lib-text-1 {
  color: var(--text-primary);
}

.video-lib-text-2 {
  color: var(--text-secondary);
}

main {
  background: var(--bg-primary);
  color: var(--text-secondary);
  margin-left: 8rem;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: var(--complimentary-bg-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Small Screens */

@media only screen and (max-width: 600px) {
  .video-lib__navbar {
    bottom: 0;
    width: 100vw;
    height: 8rem;
  }
  .video-lib__logo {
    display: none;
  }
  .video-lib__navbar-nav {
    flex-direction: row;
  }

  .video-lib__nav-link {
    justify-content: center;
  }

  .video-lib__nav-link svg {
    min-width: 2rem;
  }

  main {
    margin: 0;
    margin-bottom: 7rem;
  }

  .search-bar {
    margin-right: auto;
  }

  .search-bar:focus-within {
    width: 70%;
  }
  .video-lib__listing-page {
    gap: 2.5rem;
  }

  .listing-video__card {
    padding-bottom: 1rem;
    align-items: center;
  }

  .video-lib__filters-container {
    width: 100%;
    overflow: auto;
    padding-bottom: 1.6rem;
    position: fixed;
    top: 1;
  }

  .single-videoPage__wrapper {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .video-info-container {
    flex-direction: column;
  }
  .video-info__cta {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 600px) {
  .video-lib__navbar {
    top: 0;
    width: 8rem;
    height: 100vh;
  }

  main {
    padding: 1.6rem;
  }
  .video-lib__navbar:hover {
    width: 26rem;
  }

  .video-lib__navbar:hover .video-lib__link-text {
    display: inline;
  }

  .video-lib__navbar:hover .video-lib__logo svg {
    margin-left: 20rem;
  }

  .video-lib__navbar:hover .video-lib__logo-text {
    left: 0px;
  }

  .search-bar:focus-within {
    width: 25%;
  }

  .search-bar {
    margin: auto;
  }

  .video-lib__listing-page {
    justify-content: center;
    row-gap: 2.7rem;
  }

  .listing-video__card {
    max-width: 300px;
    margin-left: 3rem;
  }
  .video-lib__filters-container {
    justify-content: center;
  }

  .single-videoPage__wrapper {
    grid-template-columns: 2fr 1fr;
    gap: 1.2rem;
  }
  .video-info__cta {
    margin-left: auto;
  }

  .video-info__title {
    flex: 1;
  }
}
