@import url('https://cerebrumui.netlify.app/style.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import './Styles/navbar.css';
@import './Styles/sidebar.css';
@import './Styles/searchBar.css';
:root {
  font-family: 'Lato', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

main {
  margin-left: 8rem;
  padding: 1.6rem;
}

body::-webkit-scrollbar {
  width: 0.85rem;
}

body::-webkit-scrollbar-track {
  background: var(--complimentary-bg-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Small Screens */

@media only screen and (max-width: 600px) {
  .video-lib__navbar {
    bottom: 0;
    width: 100vw;
    height: 8rem;
  }
  .video-lib__logo {
    display: none;
  }
  .video-lib__navbar-nav {
    flex-direction: row;
  }

  .video-lib__nav-link {
    justify-content: center;
  }

  .video-lib__nav-link svg {
    min-width: 2rem;
  }

  main {
    margin: 0;
  }

  .search-bar {
    margin-right: auto;
  }

  .search-bar:focus-within {
    width: 70%;
  }
}

@media screen and (min-width: 600px) {
  .video-lib__navbar {
    top: 0;
    width: 8rem;
    height: 100vh;
  }

  .video-lib__navbar:hover {
    width: 26rem;
  }

  .video-lib__navbar:hover .video-lib__link-text {
    display: inline;
  }

  .video-lib__navbar:hover .video-lib__logo svg {
    margin-left: 15rem;
  }

  .video-lib__navbar:hover .video-lib__logo-text {
    left: 0px;
  }

  .search-bar:focus-within {
    width: 25%;
  }

  .search-bar {
    margin: auto;
  }
}
